In [89]:
import pandas as pd

In [90]:
asortyment = pd.read_csv('C:\\Users\\User\\Desktop\\Systemy Sztucznej Inteligencji\\22.03.2022\\asortyment_Terelak.csv')
asortyment.head(10)

,nazwa,świeże,mrożone,ostre,słodkie,zielone,czerwone,lokalne,tropikalne,liściaste,bulwowe
0,arbuz,1.0,0.0,0.0,0.5,0.5,0.5,0.0,1.0,1.0,0.0
1,brokuł,0.9,1.0,0.0,0.3,1.0,0.0,1.0,0.0,1.0,0.0
2,burak,0.5,1.0,0.0,0.8,0.5,0.5,1.0,0.0,0.0,1.0
3,cebula,1.0,0.0,0.5,0.3,0.3,1.0,1.0,0.0,1.0,0.0
4,cukinia,0.8,0.0,0.0,0.7,0.8,0.0,1.0,0.0,1.0,0.0
5,dynia,0.3,0.0,0.0,1.0,0.3,0.6,1.0,1.0,1.0,0.0
6,kalafior,0.6,1.0,0.2,0.5,0.7,0.0,1.0,0.0,1.0,0.0
7,kapusta,0.9,1.0,0.0,0.2,1.0,0.0,1.0,0.0,1.0,0.0
8,ogórek,1.0,0.0,0.1,0.3,1.0,0.0,1.0,0.0,1.0,0.0
9,pomidor,0.8,0.0,0.2,0.2,0.0,1.0,1.0,1.0,1.0,0.0

In [91]:
asortyment = asortyment.values.tolist()

In [92]:
def find(arg, wages, names):
    data = []
    for i in range(len(arg)):
        result = 0
        for j in range(len(arg[i])):
            result += arg[i][j] * wages[j]
        data.append(result)
    return names[data.index(max(data))]

In [93]:
wagi = {"świeże": 1, "mrożone": 0.3, "ostre": 0.1, "słodkie": 0.5, "zielone": 0.5, "czerwone": 0.5,
        "lokalne": 1, "tropikalne": 0.3, "liściaste": 0.5, "bulwowe": 0.5}
wagi = list(wagi.values())
col_names = []

for i in range(len(asortyment)):
    col_names.append(asortyment[i][0])
    del asortyment[i][0]

print("Wynik na podstawie przedstawionych parametrów:", find(asortyment, wagi, col_names))

Wynik na podstawie przedstawionych parametrów: szpinak