In [2]:
import pandas as pd

In [4]:
iris = pd.read_csv('C:\\Users\\User\\Desktop\\Systemy Sztucznej Inteligencji\\8.03.2022\\iris.csv')

In [63]:
iris.head(20)

    sepal.length  sepal.width  petal.length  petal.width     variety
0            6.5          3.0           5.8          2.2   Virginica
1            5.1          3.4           1.5          0.2      Setosa
2            4.9          3.6           1.4          0.1      Setosa
3            5.7          2.8           4.5          1.3  Versicolor
4            4.3          3.0           1.1          0.1      Setosa
5            5.5          4.2           1.4          0.2      Setosa
6            6.8          3.0           5.5          2.1   Virginica
7            5.7          2.9           4.2          1.3  Versicolor
8            4.7          3.2           1.6          0.2      Setosa
9            6.7          3.1           5.6          2.4   Virginica
10           6.7          3.1           4.7          1.5  Versicolor
11           7.7          2.8           6.7          2.0   Virginica
12           6.1          3.0           4.9          1.8   Virginica
13           5.4          3.4           1.5          0.4      Setosa
14           5.6          3.0           4.1          1.3  Versicolor
15           6.4          3.1           5.5          1.8   Virginica
16           6.3          3.3           4.7          1.6  Versicolor
17           4.9          3.1           1.5          0.2      Setosa
18           4.6          3.4           1.4          0.3      Setosa
19           5.0          3.5           1.3          0.3      Setosa

In [6]:
iris.describe()

       sepal.length  sepal.width  petal.length  petal.width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [68]:
class KNN:
    @staticmethod
    def minkowskiMetric(x, y, m): # Wyznacz odległość między dwoma obiektami
        distance = 0
        for i in range(len(x)-1):
            distance += abs(x.iloc[i]**m - y.iloc[i]**m)
        distance = distance**(1/m)
        
        return distance
    
    def clustering(sample, data, m, k): # Grupowanie danych
        distances = []
        classes = {'Setosa': 0, 'Virginica': 0, 'Versicolor': 0}
        for i in data.index:
            distances.append([KNN.minkowskiMetric(sample, data.iloc[i], m), data.iloc[i].variety])
        distances = sorted(distances)                    
        
        #voting
        for i in range(k):
            classes[distances[i][1]]+=1

        return max(classes, key=classes.get)
    
    def test(set_walidacja, set_trening, k): # Testowanie data-frame'ów
        print ("Testuje k = " + str(k) +"..")
        correct = 0
        m = 2
        for sample in set_walidacja.iloc:
            AI_answer = KNN.clustering(sample, set_trening, m, k)
            if AI_answer == sample.variety:
                correct += 1

        accuracy = correct/len(set_walidacja) * 100
        print("Accuracy: ", round(accuracy,2), "Correct: ", correct)

In [78]:
# Klasa z poprzedniego zadania dla utworzenia data-setów
import random 
class DataProcessing:
    @staticmethod
    def potasuj(Dane): #Potasować dane zaczynając od końca
        for i in range(len(Dane) - 1, 0 , -1):
            j = random.randint(0, i)
            Dane.iloc[i], Dane.iloc[j] = Dane.iloc[j], Dane.iloc[i]
        return Dane
    
    @staticmethod
    def splitSet(Dane): #Podzielić DataFrame na testowy i treningowy 30/70
        split = int(len(Dane)*0.7)
        daneTrening = Dane.iloc[:split, :]
        daneTest = Dane.iloc[split:, :]
        return daneTrening, daneTest
    
    @staticmethod
    def normalizacja(Dane): #Znormalizować dane: Dane = (Dane - min) / (max - min)
        Dane_ = Dane.copy()
        wartosci = Dane_.select_dtypes(exclude="object")
        kolumny = wartosci.columns.tolist()
        for kolumna in kolumny:
            dane = Dane_.loc[:, kolumna]
            maks = max(dane)
            minimum = min(dane)
            for rzad in range(0, len(Dane_), 1):
                wartosc = (Dane_.at[rzad, kolumna] - minimum) / (maks - minimum)
                Dane_.at[rzad, kolumna] = wartosc
        return Dane_

In [82]:
iris_przetasowany = DataProcessing.potasuj(iris)
set_trening, set_walidacja = DataProcessing.splitSet(iris_przetasowany)
KNN.test(set_walidacja, set_trening, 2)

Testuje k = 2..
Accuracy:  97.78 Correct:  44

In [83]:
KNN.test(set_walidacja, set_trening, 3)

Testuje k = 3..
Accuracy:  95.56 Correct:  43

In [84]:
KNN.test(set_walidacja, set_trening, 4)

Testuje k = 4..
Accuracy:  97.78 Correct:  44